---

layout: default
title: Work
subtitle: Creating practical and relevant applications in industry

---

<!--  Work Experience  -->
{% for job in site.data.work %}
{% assign color = forloop.index | modulo:2 %}
{% if color == 1 %}
<section class="light" id="portfolio">
    {% else %}
    <section class="dark" id="portfolio">
        {% endif %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 portfolio-item">
                <img width="900" height="600" src={{ job.image }} class="img-responsive" alt={{ job.company }} />
            </div>
            <div class="col-sm-5 portfolio-text">
                <a class="title" href={{ job.link }}> {{ job.company }} </a>
                <p class="date"> {{ job.position }}, {{ job.date }} </p>
                <p class="location"> {{ job.location }} </p>
                <p class="description"> {{ job.description }}</p>
            </div>
        </div>
    </section>
    {% endfor %}