---

layout: default
background: portfolio
title: My Portfolio
subtitle: Showcasing my professional experience as a developer, leader, and innovator

---

<div class="section">
    <div class="light1">
        <div class="portfolio-me">
            <h2> Professional Experiences </h2>
            {% for item in site.data.portfolio.experiences %}
            {% assign name = item[0] %}
            {% assign exp = item[1] %}
            <a href="{{ exp.page }}">
                <div class="portfolio-item">
                    <img src={{ exp.image }} class="img-responsive" alt={{ name }} />
                    <div class="portfolio-title">
                        <h3> {{ name }} </h3>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="portfolio-description">
                            <h3> {{ name }} </h3>
                            <p> {{ exp.position }} </p>
                            <p> {{ exp.date }} </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="section">
    <div class="light2">
        <div class="portfolio-me">
            <h2> Personal Projects </h2>
            {% for item in site.data.portfolio.projects %}
            {% assign name = item[0] %}
            {% assign project = item[1] %}
            <a href="{{ project.page }}">
                <div class="portfolio-item">
                    <img src={{ project.image }} class="img-responsive" alt={{ name }} />
                    <div class="portfolio-title">
                        <h3> {{ name }} </h3>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="portfolio-description">
                            <h3> {{ name }} </h3>
                            <p> {{ project.summary }} </p>
                            <p> {{ project.date }} </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>