---

layout: default
background: portfolio
title: My Portfolio
subtitle: Showcasing my professional experience as a developer, leader, and innovator

---

<section class="light">
    <div class="portfolio">
        <div class="row">
            <h1> Professional Experiences </h1>
        </div>
    </div>
    <div class="row">
        <div class="portfolio">
            {% for exp in site.data.experiences %}
            <a href="{{ exp.link }}">
                <div class="portfolio-item">
                    <img src={{ exp.image }} class="img-responsive" alt={{ exp.name }} />
                    <div class="portfolio-description">
                        <h2> {{ exp.name }} </h2>
                        <h3> {{ exp.position }} </h3>
                        <p> {{ exp.date }} </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
<section class="dark">
    <div class="portfolio">
        <div class="row">
            <h1> Personal Projects </h1>
        </div>
    </div>
    <div class="row">
        <div class="portfolio">
            {% for project in site.data.projects %}
            <a href="#">
                <div class="portfolio-item">
                    <img src={{ project.image }} class="img-responsive" alt={{ project.company }} />
                    <div class="portfolio-description">
                        <h2> {{ project.name }} </h2>
                        <h3> {{ project.summary }}</h3>
                        <p> {{ project.date }} </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>