<ul class="list-inline">
    <li>
        <a href="https://github.com/RandyDeng" class="btn-social btn-outline"><span class="sr-only">GitHub</span><i class="fab fa-github"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/randydeng/" class="btn-social btn-outline"><span class="sr-only">Linked
                In</span><i class="fab fa-linkedin-in"></i></a>
    </li>
    <li>
        <a href="mailto:randy@randydeng,com?subject=Nice%20to%20meet%20you%20Randy!"
            class="btn-social btn-outline"><span class="sr-only">Send mail</span><i class="far fa-envelope"></i></a>
    </li>
    <li>
        <a href="/assets/files/resume.pdf" class="btn-social btn-outline"><span class="sr-only">Resume</span><i class="far fa-file-pdf"></i></a>
    </li>
</ul>