<style>
    i {
        padding-right: 6px;
    }
</style>

<ul class="social-media-list">
    {%- if site.github -%}
    <li>
        <i class="fab fa-github fa-lg"></i>
        <a href="https://github.com/{{ site.github }}">
            <span class="username">{{ site.github }}</span>
        </a>
    </li>
    {%- endif -%}
    {%- if site.linkedin -%}
    <li>
        <i class="fab fa-linkedin fa-lg"></i>
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
            <span class="username">{{ site.linkedin }}</span>
        </a>
    </li>
    {%- endif -%}
    {%- if site.mailchimp -%}
    <li>
        <i class="fab fa-mailchimp fa-lg"></i>
        <a href="{{ site.mailchimp }}"><span>subscribe</span></a></li>
    {%- endif -%}
    {%- if site.rss -%}
    <li>
        <i class="fas fa-rss fa-lg"></i>
        <a href="{{ site.rss }}"><span>subscribe</span></a>
    </li>
    {%- endif -%}
</ul>