
// Defines typography settings

@import "colors";

$default-fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-weight: 500;

$header-size: 4em;
$title-size: 3em;
$subtitle-size: 2em;
$default-size: 1.5em;
$small-size: 1em;

$brightness: brightness(30%);
$img-radius: 3%;
$section-padding: 2% 13% 2% 13%;

html {
    height: 100%;
    overflow-x: hidden;
    background-color: $primary-dark2;
}

body {
    height: 100%;
    overflow-x: hidden;
    background: $primary-dark2; // prevent flicker
    font-family: $default-fonts;
    font-size: $default-size;
    font-weight: $default-weight;
}

p {
    font-size: $default-size;
}

h1 {
    font-size: $header-size;
}

h2 {
    font-size: $title-size;
}

h3 {
    font-size: $subtitle-size;
}