/************************** GENERAL **************************/
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #0066CD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.img-centered {
    margin: 0 auto;
}

.img-resize {
    width: 50%;
    height: auto;
}

/* Default Color to Prevent Flicker */

body {
    background: rgb(43, 43, 43);
}

/************************** HEADER **************************/
header {
    text-align: center;
    position: relative;
    display: table;
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("../images/banners/index.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

header .container {
    padding-top: 250px;
    padding-bottom: 50px;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

header img {
    display: block;
    margin: 0 auto 15px;
    max-height: 250px;
    max-width: 250px;
}

header .text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

header .intro-text {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .intro-text .name {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: -0.3em;
}

header .intro-text .title {
    font-size: 2.2em;
    font-weight: 300;
}

@media (min-width: 300px) {
    header .container {
        padding-top: 140px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 3.5em;
    }

    header .intro-text .title {
        font-size: 1.5em;
    }
}

/************************** NAVIGATION **************************/
.navbar {
    background: rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    border: 0.1px white;
}

.navbar a {
    color: white;
    letter-spacing: 1px;
}

.navbar .navbar-brand {
    position: relative;
    left: 0.5em;
    top: 0em;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-brand a:hover {
    background: transparent;
}

.navbar a:hover:before {
    color: white;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar .navbar-toggle {
    color: white;
    font-size: 12px;
    border-color: white;
}


@media (min-width: 500px) {
    .navbar {
        padding: 1em 1em 1em 1em;
        -webkit-transition: padding 0.2s;
        -moz-transition: padding 0.2s;
        transition: padding 0.2s;
    }

    .navbar .navbar-brand {
        font-size: 1.5em;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }

    .navbar.affix {
        padding: 0px 0;
    }

    .navbar.affix .navbar-brand {
        font-size: 1.5em;
    }
}

/************************** SECTIONS **************************/
section {
    text-align: center;
}

section.light {
    background: rgba(255, 255, 255, 1);
}

section.dark {
    background: rgba(255, 255, 255, 0.9);
}

section.header {
    text-align: center;
    color: white;
    padding-top: 11em;
    padding-bottom: 8em;
}

section.about {
    background-image: url("../images/banners/about.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.portfolio {
    background-image: url("../images/banners/portfolio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

section.gallery {
    background-image: url("../images/banners/gallery.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

section.header h3 {
    font-size: 3em;
    text-decoration: bold;
}

@media (max-width: 500px) {
    section {
        padding: 50px 0;
    }

    section.header {
        padding-top: 150px;
    }
}

hr.fancyline {
    width: 25em;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 10px;
}