.navbar {
    display: inline-block;
    list-style-type: none;
    float: none;
    font-size: 1.5em;
    padding: 0.6em 1em 0.5em 1em;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

.navbar-background {
    background: rgba(0, 0, 0, 0.1);
}

.navbar .navbar-small {
    margin-top: -1em;
    margin-bottom: -1em;
}

.navbar a {
    color: white;
    letter-spacing: 1px;
    max-width: 8em;
}

.navbar .navbar-brand {
    font-size: 1.4em;
    left: 0.5em;
    top: 0em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-brand a:hover {
    background: transparent;
}

.navbar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar .navbar-toggle {
    color: white;
    font-size: 0.7em;
    border-color: white;
}

@media (max-width: 500px) {
    .navbar {
        font-size: 1.2em;
    }

    .navbar .navbar-brand {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        left: 0.4em;
        top: 0.1em;
    }
}