.portfolio {
    text-align: center;
    padding: 1em 8em 1em 8em;
}

.portfolio .portfolio-item {
    display: inline-block;
    color: transparent;
    position: relative;
    text-align: center;
    color: white;
    padding: 1.5em 1.5em 1.5em 1.5em;
    transition: 0.3s;
}

.portfolio .portfolio-item:hover {
    transform: scale(1.1);
}

.portfolio .portfolio-item img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 20em;
    width: 20em;
    border-radius: 3%;
    filter: brightness(30%)
}

.portfolio .portfolio-item .portfolio-img {
    position: absolute;
}

.portfolio .portfolio-item .portfolio-description {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio .portfolio-item .portfolio-description h2 {
    font-size: 2em;
}

.portfolio .portfolio-item .portfolio-description h3 {
    font-size: 1.4em;
}

.portfolio .portfolio-item .portfolio-description p {
    font-size: 1.1em;
}