.typewriter>.wrap {
    border-right: 0.12em solid rgb(131, 128, 128);
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: rgb(131, 128, 128);
    }

    50% {
        border-color: transparent;
    }
}