<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Hello. My name is Randy Deng and I am a software developer. Welcome to my website!" />
    <meta name="keywords"
        content="Randy, Deng, Programming, Developer, Software, Website, Computer, Engineering, Technology, Build, Innovation">
    <meta name="author" content="Randy Deng" />

    <title>Website of Randy Deng</title>
    <link rel="icon" href="assets/images/logo.png" />

    <!--  Bootstrap Core CSS  -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Custom CSS  -->
    <link href="assets/css/core.min.css" rel="stylesheet" />
    <link href="assets/css/about.min.css" rel="stylesheet" />
    <link href="assets/css/portfolio.min.css" rel="stylesheet" />
    <link href="assets/css/gallery.min.css" rel="stylesheet" />
    <link href="assets/css/media.min.css" rel="stylesheet" />
    <link href="assets/css/navbar.min.css" rel="stylesheet" />
    <link href="assets/css/fade.min.css" rel="stylesheet" />
    <link href="assets/css/typewriter.min.css" rel="stylesheet" />

    <!--  Custom Fonts  -->
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index fade-in">
    <nav id="mainNav" class="navbar navbar-fixed-top affix-top">
        <div class="container">
            <!--  Navbar name + Collapsible Navbar  -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="navbar-brand" href="/">
                            Randy Deng
                        </a>
                    </li>
                </ul>
            </div>

            <!--  Navbar -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for nav in site.data.navigation %}
                    <li>
                        <a href={{ nav.link }}> {{ nav.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    {{ content }}

    <!-- Typewriter Effect -->
    <script src="assets/js/typewriter.min.js"></script>

    <!--  jQuery  -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>

    <!--  Bootstrap Core JavaScript  -->
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!--  Theme JavaScript  -->
    <script src="assets/js/freelancer.min.js"></script>

</body>

</html>