---

layout: base

---

<!-- Header Image -->
<div class="section">
    <div class="banner {{ page.background }}">
        <h1> {{ page.title }} </h1>
        <h3> {{ page.subtitle }} </h3>
    </div>
</div>

{{ content }}

<div class="section">
    <div class="footer">
        <h2>Keep In Touch</h2>
        <p>I'm always down to grab some lunch and chat</p>
        <hr class="fancyline">

        <nav class="navbar">
            <ul class="nav navbar-nav navbar-small">
                {% for nav in site.data.navigation %}
                <li>
                    <a href={{ nav.link }}> {{ nav.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="footer-media">
            {% include media.html %}
        </div>

        <div class="text-center">© 2019 Copyright Randy Deng</div>
    </div>
</div>