---

layout: default

---

{% assign name = page.title %}
{% assign portfolio = site.data.portfolio.experiences[name] %}
{% if portfolio == nil%}
{% assign portfolio = site.data.portfolio.projects[name] %}
{% endif %}

<div class="section">
    <div class="light1">
        <div class="portfolio-page">
            <div class="row portfolio-info">
                <div class="col-sm-6">
                    <img src={{ portfolio.image }} class="img-responsive" alt={{ page.title }} />
                </div>
                <div class="col-sm-6 text-left">
                    <h3>{{ name }}</h3>
                    {% if portfolio.position %}
                    <p><i class="fas fa-chevron-right"></i><a class="header">{{ portfolio.position }}</a></p>
                    {% endif %}
                    {% if portfolio.summary %}
                    <p><i class="fas fa-chevron-right"></i><a class="header">{{ portfolio.summary }}</a></p>
                    {% endif %}
                    <p><i class="fas fa-chevron-right"></i><a class="header">{{ portfolio.date }}</a></p>
                    {% if portfolio.links %}

                    <h3> Links </h3>
                    {% for link in portfolio.links %}
                    {% if link.name == "Github" %}
                    <p><i class="fab fa-github"></i><a class="links" href="{{ link.ref }}">{{ link.name }}</a></p>
                    {% else %}
                    <p><i class="fas fa-link"></i><a class="links" href="{{ link.ref }}">{{ link.name }}</a></p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if portfolio.press %}
                    <h3> Press </h3>
                    {% for article in portfolio.press %}
                    <p><i class="fas fa-newspaper"></i><a class="links" href="{{ article.ref }}">{{ article.name }}</a>
                    </p>
                    {% endfor %}
                    {% endif %}

                    {% if portfolio.awards %}
                    <h3> Awards </h3>
                    {% for award in portfolio.awards %}
                    <p><i class="fas fa-award"></i><a class="links" href="{{ award.ref }}">{{ award.name }}</a></p>
                    {% endfor %}
                    {% endif %}

                    {% if portfolio.honors %}
                    <h3> Honors </h3>
                    {% for honor in portfolio.honors %}
                    <p><i class="fas fa-medal"></i><a class="links" href="{{ honor.ref }}">{{ honor.name }}</a></p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="increase-line-height text-left">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>